body {
    background-color: #eee;
}

.site-header {
    overflow: auto;
    background-color: #fff;
}

.site-block {
    display: block;
    border: solid 1px #aaa;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 4px;
    padding: 5px;
    text-align: justify;
}

.site-logo {
    float: left;
}

.site-logo a {
    text-decoration: none;
    opacity: 0.8;
    transition: opacity 0.2s ease-in-out;
}

.site-logo a:hover {
    opacity: 1;
}

.site-logo a img {
    width: 171px;
    height: 38px;
    content: url('/@images/geralnet-logo.png');
    margin: 10px;
}

.user-login {
    float: right;
    padding: 10px;
}

.user-login ul {
    margin: 0;
}

.user-login ul li {
    display: inline-block;
    list-style: none;
    line-height: normal;
}

.user-login ul li + li::before {
    content: '| ';
}

.category-tree {
    font-size: 90%;
}

.category-tree ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.category-tree ul ul {
    padding-left: 10px;
}

.shopping-cart a {
    text-decoration: none;
}

.shopping-cart a:hover {
    background-color: #efe;
}

.site-block > .site-block-header {
    margin: 0;
    padding: 5px 10px 10px 10px;
    border-bottom: dashed 1px #aaa;
}

.site-block > div {
    margin: 10px;
}

ul.subcategories {
    margin: 0;
    padding: 0;
}

ul.subcategories li {
    display: inline-block;
    list-style: none;
    line-height: normal;
}

ul.subcategories li + li::before {
    content: '| ';
}
